nav.navbar.navbar-default(role='navigation')
  .navbar-header
    button.navbar-toggle(type='button', ng-init='navCollapsed = true', ng-click='navCollapsed = !navCollapsed')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='#') Test POC
  .collapse.navbar-collapse(uib-collapse='navCollapsed')
    ul.nav.navbar-nav
      li(ui-sref-active='active')
        a(href='#', ui-sref='app.home') {{activeSeason ? activeSeason.name : ''}}
      li.dropdown(uib-dropdown='', ui-sref-active='active')
        a.dropdown-toggle(href='#', uib-dropdown-toggle='', data-toggle='dropdown')
          | Seasons
          b.caret
        ul.dropdown-menu(role='menu')
          li(ng-repeat='i in items')
            a(href='#', ui-sref='app.season({season: i})') {{i}}
      li(ui-sref-active='active')
        a(href='#', ui-sref='app.about') About
p Hello {{name}}
p navCollapsed={{navCollapsed}}

div(ui-view="")
