.event-list {

  .panel.event-panel {

    .panel-body {

      text-align: center;

    }

    .event-nail {

      width: 300px;

      height: 240px;

      margin: 10px;

      background: green;

      display: inline-block;

      border-radius: 4px;

    }

    .panel-custom-header {

      span.heading-title {

        font-weight: bold;

        font-size: 20px;

      }

      span.label {

        float: right;

        vertical-align: text-top;

      }

      span.heading-caption {

        font-size: 10px;

      }

    }

  }

}
