.event-list {

  .panel.event-panel {

    .panel-body {

      text-align: center;

    }

    .panel-custom-header {

      span.heading-title {

        font-weight: bold;

        font-size: 20px;

      }

      span.label {

        float: right;

        vertical-align: text-top;

      }

      span.heading-caption {

        font-size: 10px;

      }

    }

  }

}
