.event-list {

  .panel.collapsible-panel {

    .panel-custom-header {

      span.heading-title {

        font-weight: bold;

        font-size: 20px;

      }

      span.label {

        float: right;

        margin-right: 30px;

        vertical-align: text-top;

      }

      span.heading-caption {

        font-size: 10px;

      }

    }

  }

}
