.row.event-list
  .col-md-4(ng-repeat="event in events")
    //- collapsible-panel
    //-   panel-header
    //-     span.heading-title {{event.title}}
    //-     span.label.label-default {{ event.start | date }} - {{ event.end | date }}
    //-     br
    //-     span.heading-caption {{event.location}}
    //-   panel-content {{event.location}}
    .panel.panel-default.event-panel
      .panel-heading
        span.panel-custom-header
          span.heading-title {{event.title}}
          span.label.label-default {{ event.start | date:'MMM d' }} - {{ event.end | date:'MMM d, yyyy' }}
          br
          span.heading-caption {{event.location}}
      .panel-body
        event-nail(src="{{ (event.moments && event.moments.length > 0) ? ('http://localhost:8010/image/' + event.moments[0].imageId) : ('http://localhost:8010/images/default_member.png') }}", caption="{{ event.moments.length > 0 ? event.moments[0].comment : '' }}")
