// bower:js
// endbower


script(src="scripts/app.module.js")
script(src="scripts/app.routes.js")


// Controllers
script(src="scripts/controllers/season.js")
script(src="scripts/controllers/app.js")
script(src="scripts/controllers/home.js")


// Services
script(src="scripts/services/season.js")
script(src="scripts/services/group.js")


// Directives
script(src="scripts/directives/collapsible-panel.js")
script(src="scripts/directives/event-list.js")
script(src="scripts/directives/event-nail.js")
script(src="scripts/directives/member-nail.js")
