section
  .tabs.tabs-style-flip
    nav
      ul
        li(ui-sref-active='tab-current')
          a(ui-sref='app.season.events')
            i.fa-i.fa.fa-calendar-check-o
            span Events
        li(ui-sref-active='tab-current')
          a(ui-sref='app.season.roster')
            i.fa-i.fa.fa-group
            span Roster
    .content-wrap
      section.content-current
        .content-view(ui-view="")
