uib-tabset(type="pills", active="1")
  uib-tab(heading="Roster")
    .row.roster-list
      .col-md-3(ng-repeat="member in season.members")
        member-nail(member="member")
  uib-tab(heading="Events")
    event-list(events="season.events")
